---
import Layout from "../layouts/Layout.astro";
import BikeSelector from "../components/BikeSelector";
import PageTitle from "../components/PageTitle";

async function fetchBikes() {
  return new Promise((resolve) => {
    setTimeout(() => {
      resolve(import("../data/bikes.json"));
    }, 80);
  });
}

const bikes = (await fetchBikes()).default;
const title = "Bike Comparison Dashboard";
---

<Layout title={title}>
  <main>
    <PageTitle title={title} />
    <BikeSelector bikes={bikes} client:load />
  </main>
</Layout>
